* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.landing {  
    height: 1000px;
    width: 100%;
    font-size: 18pt;
    background-image: url(resources/Adams_Courtyard_017.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
}
body{
    

}

#logo{
    position: absolute;
    width: 19.5%;
    padding-left: .5%;
    
    
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height : 60px;
        
}

.nav{ 
    position: absolute;
    gap: 20px;
    width: 78%;
    padding-top: 1%;
    padding-right: 2%;
    justify-content: right;
    display: flex;
    align-self: flex-end;
    font-family: sans-serif;
    font-weight: 900;
    font-style: normal;
    
}

.navbutton{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.navbutton:hover{
    color: gray !important;
}

.album{
    width: 20%;
    margin-top: 15%;
    margin-bottom: auto;
    margin-left: 12%;
    margin-right: auto;
    font-family: sans-serif;
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1%;

}

.ctyd{

    padding-top: 10px;
    margin-bottom: 5%;

}
