* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.landing {  
    height: 1000px;
    width: 100%;
    font-size: 18pt;
    background-image: url(resources/Adams_Courtyard_017.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: right;
    justify-items: right ;
    background-attachment: fixed;
    padding: 0%;
    
}

.landingabt {  
    height: 1000px;
    width: 100%;
    font-size: 18pt;
    background-color: lightgray;
    background-size: cover;
    background-attachment: scroll;
    background-position: right;
    justify-items: right ;
    background-attachment: fixed;
    padding: 0%;
    text-align: center;
    
}


#logo{
    position: absolute;
    width: 19.5%;
    padding-left: .5%;
    
    
}

.follow{
    height: 5em;
    font-size: 24pt;
    justify-content: center;
    background-color: lightgray;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3%;
    text-align: center;
    
}

.icons{
    padding-top: 1%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}



.icon{
    

    height: 25px;

}


.shows{

    background-color: #a968bd;
    height: 4em;
    font-size: 36pt;
    padding-top: 1.5%;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    justify-items: center;
    
}

.upcoming{
    font-size: 70pt;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    color: plum;
    padding-bottom: .5%;
}


.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height : 20%;
        
}

a{
    text-decoration: none;
}

.nav{ 
    position: absolute;
    gap: 20px;
    width: 78%;
    padding-top: 1%;
    padding-right: 2%;
    justify-content: right;
    display: flex;
    align-self: flex-end;
    font-family: sans-serif;
    font-weight: 900;
    font-style: normal;
    
}

.navbutton{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.navbutton:hover{
    color: gray !important;
}


.navbuttonabt{
    color: black;
    text-decoration: none;
    transition: .3s;
}

.navbuttonabt:hover{
    color: gray !important;
}

.album{
    width: 20%;
    margin-top: 15%;     
    margin-bottom: auto;
    margin-left: 12%;
    margin-right: auto;
    font-family: sans-serif;
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1%;

}

.allabt{

    text-align: center;
    float: none;
    font-family: sans-serif;
    font-weight: 800;
    color: #a968bd;
    font-size: 55pt;
    
}
.about{
    width: 30%;
    text-align: center;
    margin-top: 2%;
    font-weight: 800;     
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 5%;
    font-size: 16pt;
    font-family: sans-serif;
    color: black;
    display: inline-block;
    vertical-align: top;
    gap: 1%;
   

}

.abtcontainer{

    
    display: flex;
}

.benefitball{
    display: inline-block;
    width: 40%;
    margin-top: 2%;
    border-radius: 50px;
}

.bbpic{

    border-radius: 10% 20% 10% 20%;
    width: 100%

}

.ctyd{

    padding-top: 10px;
    margin-bottom: 5%;

}
